<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>メイン画面（技術共有）</title>
</head>
<body>
	<!-- header,modelSelect,main,footerの四要素に分けています -->
    <div class="header">
        <div class="companyLog">
            <h1><a href="/main1">株式会社ASO</a></h1> <!--いらないかも・・・？　白石-->
        </div>
        <div class="headerButton">
            <button type="button" formmethod="get">
                <a th:href="@{/myPage}">マイページ</a>
            </button>
            <button type="button" formmethod="get">
                <a th:href="@{logout}">ログアウト</a>
            </button>
        </div>
    </div>

    <div class="modeSelect">
        <form action="/main/1" method="get">
            <input type="submit" value="自己紹介">
        </form>
        
        <form action="/main/2" method="get">
            <input type="submit" value="技術共有">
        </form>
    </div>

    <div class="main">
		<!-- 形だけ用意しました。 -->
        <button type="button">フィルター</button>

        <div class="contents">
            <div class="info">
                <span th:text="${name}"></span>
                <span th:text="${tag}"></span>
            </div>
            <div class="title">
                <span th:text="${title}"></span>
            </div>
            <div class="content">
                <span th:text="${content}"></span>
            </div>
        </div>
    </div>

    <div class="footer">
        <button type="button">作成</button>
        <button type="button">トップへ戻る</button>
    </div>
</body>
</html>