<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>メイン画面（自己紹介）</title>
</head>
<body>
	<!-- header,modelSelect,main,footerの四要素に分けています -->
    <div class="header">
        <div class="companyLog">
            <h1><a href="/main1">株式会社ASO</a></h1> <!--いらないかも・・・？　白石-->
        </div>
        <div class="headerButton">
            <button type="button" formmethod="get">
                <a th:href="@{/myPage}">マイページ</a>
            </button>
            <button type="button" formmethod="get">
                <a th:href="@{logout}">ログアウト</a>
            </button>
        </div>
    </div>

    <div class="modeSelect">
        <form action="/main/1" method="get">
            <input type="submit" value="自己紹介">
        </form>
        
        <form action="/main/2" method="get">
            <input type="submit" value="技術共有">
        </form>
    </div>

    <div class="main">
		<!-- フィルターとソートは形だけ用意しました。 -->
        <button type="button">フィルター</button>
        <select name="sort">
            <option value="1">年齢順</option>
            <option value="2">名前順</option>
        </select>

		<!-- 形だけ用意しました。 -->
        <div class="contents">
            <img th:src="@{.png}" alt="写真" width="25" height="30">
            <span th:text="${name}"></span>
        </div>
    </div>

    <div class="footer">
        <button type="button">トップへ戻る</button>
    </div>
</body>
</html>