<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>ログイン</title>
</head>
<body>
    <h1>
        ログイン画面
    </h1>

	<div id="login-form">
	    <!-- idとpasswordのみを参照してログインする画面 -->
		<form th:action="@{/login}" th:object="${loginForm}" method="post">
	        <p>userID</p>
			<input type="text" th:field="*{userid}" />
	        <p>password</p>
	        <input type="text" th:field="*{password}" />
	
	        <input type="submit" value="login">
	    </form>
	</div>

</body>
</html>